@{
    ViewBag.Title = "ReceiptFormat";
}


<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">

<style>
    .receipt-container {
        border: 3px solid #333; /* Dark border for the receipt */
        padding: 20px; /* Spacing inside the receipt */
        border-radius: 10px; /* Optional: rounded corners */
        background-color: #fff; /* Ensures a clean white background */
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
    }
</style>

<!-- Invoice Section -->
<section class="py-1 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-9 col-xxl-8">
                <!-- Increased width -->
                <div class="receipt-container">
                    <!-- Added border wrapper -->
                    <div class="row gy-3 mb-3">
                        <div class="col-6">
                            <h2 class="text-uppercase text-endx m-0">Invoice</h2>
                        </div>
                        <div class="col-6">
                            <a class="d-block text-end" href="#!">
                                <img src="https://lh3.googleusercontent.com/ci/AL18g_QgaW4JUNM7qd96xofgQUkNDTMDcKcDydzG2Or7KuFkzzi8RLmXTcGiwiy9SuOyxmcu3CqJNpg=s1200" class="img-fluid" alt="BootstrapBrain Logo" width="120" height="33">
                            </a>
                        </div>
                        <div class="col-md-12 w-100">
                            <h4>From</h4>
                            <address>
                                <strong>Ahmedabad Muncipal Corporation</strong><br>
                                875 N Coast Hwybr<br>
                                Laguna Beach, California, 92651<br>
                                United States<br>
                                Phone: (949) 494-7695<br>
                                Email: email@domain.com
                            </address>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-sm-6 col-md-8">
                            <h4>Bill To</h4>
                            <address>
                                <strong>Mason Carter</strong><br>
                                7657 NW Prairie View Rd<br>
                                Kansas City, Mississippi, 64151<br>
                                United States<br>
                                Phone: (816) 741-5790<br>
                                Email: email@client.com
                            </address>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <h4 class="row">
                                <span class="col-6">Invoice #</span>
                                <span class="col-6 text-sm-end">INT-001</span>
                            </h4>
                            <div class="row">
                                <span class="col-6">Account</span>
                                <span class="col-6 text-sm-end">786-54984</span>
                                <span class="col-6">Order ID</span>
                                <span class="col-6 text-sm-end">#9742</span>
                                <span class="col-6">Invoice Date</span>
                                <span class="col-6 text-sm-end">12/10/2025</span>
                                <span class="col-6">Due Date</span>
                                <span class="col-6 text-sm-end">18/12/2025</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-uppercase">Qty</th>
                                            <th scope="col" class="text-uppercase">Product</th>
                                            <th scope="col" class="text-uppercase text-end">Unit Price</th>
                                            <th scope="col" class="text-uppercase text-end">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Console - Bootstrap Admin Template</td>
                                            <td class="text-end">75</td>
                                            <td class="text-end">150</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Planet - Bootstrap Blog Template</td>
                                            <td class="text-end">29</td>
                                            <td class="text-end">29</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Hello - Bootstrap Business Template</td>
                                            <td class="text-end">32</td>
                                            <td class="text-end">128</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Palette - Bootstrap Startup Template</td>
                                            <td class="text-end">55</td>
                                            <td class="text-end">55</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-end">Subtotal</td>
                                            <td class="text-end">362</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-end">VAT (5%)</td>
                                            <td class="text-end">18.1</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-end">Shipping</td>
                                            <td class="text-end">15</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3" class="text-uppercase text-end">Total</th>
                                            <td class="text-end">$495.1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-primary mb-3">Download Invoice</button>
                            <button type="submit" class="btn btn-danger mb-3">Submit Payment</button>
                        </div>
                    </div>
                </div> <!-- Closing receipt-container -->
            </div>
        </div>
    </div>
</section>
